.main{
    display: grid;
    grid-template-areas:
    'a1 a1 a1 a1'
    'a2 a2 nav nav'
    'a3 a3 a3 a3';
    grid-template-rows:
    30px 100px 500px;
}
.a1{
    grid-area: a1;
    background-color: rgba(235, 153, 71, 0.286);
    color: black;
}
.a2{
    grid-area: a2;
    background-color: rgb(27, 15, 1);
    color:white;
    padding-left: 50%;
    width: 100%;
    height: fit-content;

}
.nav{
    grid-area: nav;
    background-color: blueviolet;
    color: black;
}
.a3{
    grid-area: a3;
    background-color:red;
    color: black;

}